{% extends "base.html" %}
{% block styles %}
{{ super() }}

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
<h1 class="title">
  Welcome to my schedule!
</h1>
<h2 class="subtitle">
  Plan your day
</h2>
    <p>Plan your days</p>


    <div class="container">
        <div class="center-block" style="margin-bottom:0">
            <h1>Welcome to my schedule! </h1>
            <p>Plan your every day</p>
            <p>Plan your days</p>
        </div>
        <div class="row" align="center">
            <div class="col-lg-offset-6">
                <h3>Add, delete, modify and check</h3>
                    <p>Freely add schedule in year, month, day, week</p>
                    <p>You can find the schedule based on keywords and DDL</p>
            </div>
            <div class="col-lg-offset-6">
              <h3>Data encryption storage</h3>
              <p>One person, one number, protect privacy</p>
              <p></p>
            </div>
            <div class="col-lg-offset-6">
              <h3>Beautiful interface and simple operation</h3>
                <p>Getting started at zero cost</p>
                <p>Every day is as beautiful as a rainbow🌈</p>
            </div>
        </div>
    </div>
{% endblock %}